<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MushROMs.SNESControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MushROMs.SNESControls.Properties.Settings>
            <setting name="PaletteDashLength1" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PaletteDashLength2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PaletteDashColor1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PaletteDashColor2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PaletteBGSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PaletteBGColor1" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="PaletteBGColor2" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="GFXDashLength1" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GFXDashLength2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GFXDashColor1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GFXDashColor2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GFXBGSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GFXBGColor1" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GFXBGColor2" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="PaletteZoomScale" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PaletteViewSize" serializeAs="String">
                <value>16, 16</value>
            </setting>
            <setting name="GFXZoomScale" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GraphicsFormat" serializeAs="String">
                <value>SNES_4BPP</value>
            </setting>
            <setting name="GFXViewSize" serializeAs="String">
                <value>16, 8</value>
            </setting>
            <setting name="GFXTileZoomScale" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="GFXTileViewSize" serializeAs="String">
                <value>8, 8</value>
            </setting>
            <setting name="GFXTileBGSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GFXTileBGColor1" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GFXTileBGColor2" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="GFXTileDashLength1" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GFXTileDashLength2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GFXTileDashColor1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GFXTileDashColor2" serializeAs="String">
                <value>White</value>
            </setting>
        </MushROMs.SNESControls.Properties.Settings>
    </userSettings>
</configuration>